{% extends 'layout.html.twig' %}


{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/productadmin.css"> {% endblock %}

{% block content %}

    <h1 class="titre">
        Liste des produits diponibles
    </h1>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>

            <th>Nom</th>
            <th>Référence</th>
            <th>Prix</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>


                <td>{{ product.name }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href='/product/show/{{ product.id }}' class="btn btn-secondary btn-lg" role="button">Détails</a>



                    <a href='/product/edit/{{ product.id }}' class="btn btn-secondary btn-lg" role="button">Modifier</a>

                    <a href='/product/delete/{{ product.id }}' class="btn btn-secondary btn-lg" role="button">Supprimer</a>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/product/add" class="btn btn-danger btn-lg" role="button">Ajouter un produit</a>

{% endblock %}

