{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/productadmin.css"> {% endblock %}
{% block title %}{{ parent() }} Detail produit | Administrateur{% endblock %}



{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-12">
            <div class="card-group mb-2 text-center">
                <div class="card">
                    <div class="card-header">{{ product.name }}</div>
                    <div class="card-body">

                        <img class="card-image mb-2" src="/uploads/product/{{ product.image }}" alt="{{ product.name }}"/>

                            <p class="card-text">Catégorie : {{product.category_name}}</p>
                            <p class="card-text">Genre : {{product.gender}}</p>
                            <p class="card-text">Description : {{ product.description}}</p>
                    </div>
                    <div class="card-footer">{{ product.price }} €</div>
                </div>
            </div>
            <a href='/product/edit/{{ product.id }}' class="btn btn-dark" role="button">Modifier</a>
            <a href='/product/index/' class="btn btn-secondary btn-lg" role="button">Retour</a>

            <form action='/product/delete/' method="POST" class="btn btn-lg">
                <button class="btn btn-danger">Supprimer</button>
                <input type="hidden" name="id" value="{{ product.id }}">
            </form>

        </div>
    </div>
</div>
{% endblock %}

        {% block footer %}

        {% endblock %}
