{% if not errors is empty %}
    <div class="row ">
        {% for error in errors %}
            <div class="col-md-8 offset-md-2 alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form action="" method="post" class="form-inline alert alert-secondary">
            <input type="hidden" value="{{ order.id }}" name="id">
            <div class="form-group ml-4">
                <label for="status" class="ml-4">État de la commande : </label>
                <select name="status" id="status" class="ml-4">
                    {% for status in statuses %}
                        <option {{ order.status == status ? 'selected' }}
                                value="{{ status }}">{{ status }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ml-4">
                <button type="submit" class="btn btn-secondary btn-lg">Valider</button>
            </div>
        </form>
    </div>
</div>

