{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/order-admin.css"> {% endblock %}
{% block title %}{{ parent() }} | Détail de la commande{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">
                <h1 class="title">
                    Détail de la commande {{ order.id }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'OrderAdmin/_form.html.twig' %}
        <div class="row">
            <div class="col-8 offset-2">
                <div class="alert text-center">
                    Date de la commande : {{ order.order_date }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table table-striped h-100">
                        <thead>
                            <tr class="text-white bg-dark w-25 text-center">
                                <th class="align-middle" colspan="2">Données client</th>
                            </tr>
                        </thead>
                        <tr>
                            <th class="text-white bg-dark w-25 align-middle" scope="row">Etat de la commande</th>
                            <td>{{ order.status }}</td>
                        </tr>
                        <tr>
                            <th class="text-white bg-dark w-25 align-middle" scope="row">Client</th>
                            <td>{{ order.firstname }} {{ order.lastname }}</td>
                        </tr>
                        <tr>
                            <th class="text-white bg-dark w-25 align-middle" scope="row">Société</th>
                            <td>{{ order.company_name }}</td>
                        </tr>
                        <tr>
                            <th class="text-white bg-dark w-25 align-middle" scope="row">Adresse postale</th>
                            <td>{{ order.address }} {{ order.postcode }} {{ order.city }}</td>
                        </tr>
                        <tr>
                            <th class="text-white bg-dark w-25 align-middle" scope="row">Email</th>
                            <td>{{ order.email}}</td>
                        </tr>
                        <tr>
                            <th class="text-white bg-dark w-25 align-middle" scope="row">Téléphone</th>
                            <td>{{ order.phone}}</td>
                        </tr>
                        </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-striped h-100">
                    <thead>
                    <tr class="text-white bg-dark w-25 text-center align-top">
                        <th class="align-middle" colspan="2">Données produit</th>
                    </tr>
                    </thead>
                    <tr>
                        <th class="text-white bg-dark w-25 align-middle" scope="row">Produit</th>
                        <td>{{ order.product_name}}, ref : {{ order.product_reference }}</td>
                    </tr>
                    <tr>
                        <th class="text-white bg-dark w-25 align-middle" scope="row">Taille</th>
                        <td>{{ order.size }}</td>
                    </tr>
                    <tr>
                        <th class="text-white bg-dark w-25 align-middle" scope="row">Quantité</th>
                        <td>{{ order.quantity}}</td>
                    </tr>
                    <tr>
                        <th class="text-white bg-dark w-25 align-middle" scope="row">Modèle</th>
                        <td>
                            <img src="/uploads/order-logos/{{ order.user_logo}}"
                                 class="img-fluid pattern-img w-25"
                                 alt="{{ order.user_logo}}">
                        </td>
                    </tr>
                    <tr>
                        <th class="text-white bg-dark w-25 align-middle" scope="row">Message</th>
                        <td>{{ order.message}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class = "mt-2">
            <a href='/order/index/' class="btn btn-dark" role="button">Retour</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
