{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/category.css">
{% endblock %}

{% block title %}Catalogue de vêtements{% endblock %}

{% block header %}
    <header>
        <div class="title">
            <h1>Nos vêtements</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="row">
        {% for category in categories %}
            <div class="col-sm-12 col-md-6 col-lg-4 .mx-auto">
                <div class="card">
                    <img src="/assets/images/category/{{ category.image }}" class="card-img-top" alt="image de {{ category.name }}">
                    <div class="card-body">

                        <div class="buttonCategory">
                            <button type="button" class="btn btn-dark">
                                <a href="/category/list/{{ category.id }}" title="Categorie {{ category.name }}">{{ category.name }}
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}