{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/product.css">
{% endblock %}

{% block title %}Catalogue de vêtements{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <div class="title">
                <h1>Nos choix</h1>
            </div>
        </div>
        <div class="search">
            <form method="POST">
                <label>
                    <input class="btn btn-dark" type="search" name="filter_search" placeholder="Recherche ..." required/>
                </label>
                <button>Valider</button>
            </form>
        </div>
        <div class="filters">
            <div class="filter-gender">
                <div class="gender">Genre :</div>
                {% for gender in genders %}
                <div>
                    <a class="btn btn-dark" href="/product/list/{{ categoryId }}/{{ gender }}" role="button">{{ gender }}</a>
                </div>
                {% endfor %}

            </div>
            <div class="reload">
                <a href="/product/list/{{ categoryId }}">réinitialiser</a>
            </div>
        </div>
            <div>
                {% if searched is not null %}
                    <p>Filtre(s) sélectionné(s) : {{ gendered }} / {{ searched['filter_search'] }}</p>
                {% endif %}
            </div>

        <div class="row">
            {% for product in products %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card text-dark">
                        <img src="/uploads/products/{{ product.image }}" class="card-img-top"
                             alt="image de {{ product.name }}">

                        <div class="card-body">
                            <div title="Categorie {{ product.name }}">
                                <p class="text-dark"><strong>{{ product.name }} </strong> Réf : {{ product.reference }}
                                </p>
                                <p class="text-dark">Prix : {{ product.price }} €</p>
                                <p class="text-dark">Description : {{ product.description }} </p>
                            </div>
                        </div>
                        <a class="btn btn-dark" href="/Order/sendOrder/{{ product.id }}">
                            Commander
                        </a>
                    </div>
                </div>
            {% else %}
                <h2>Aucun produit à afficher</h2>
            {% endfor %}
        </div>
        <div class="link-provider mt-5">
            <p class="text-dark">
                Pour plus de choix de vêtements, visitez le site de notre fournisseur <strong>TEXTILE EUROPE</strong>
            </p>
            <a class="btn btn-dark" href="https://www.textileeurope.com/new-2020" target="_blank">
                Juste ici !
            </a>
        </div>
    </div>
{% endblock %}